.container {
    display: block;
    // width: 940px;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}


.full-width {
    width: 100%;
}

.section {
    border: 1px solid lightgray;
    width: 100%;
    height: 349px;
    margin: 10px 0;
    overflow: auto;
}

.header {
    // color: gray;
    font-size: 18px;
    margin: 10px 0;
    padding-left: 20px;
}

.error-message {
    font-size: 14px;
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(255, 0, 0, .15);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.response-header-table {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;

    tr {
        height: 30px;
    }

    th {
        background-color: #eee;
        padding-left: 10px;
        border: 1px solid lightgray;
        text-align: left;
    }

    td {
        border: 1px solid lightgray;
        text-align: left;
        padding-left: 10px;
    }
}

.request-params-table {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;

    tr {
        height: 30px;
    }

    th {
        background-color: #eee;
        padding-left: 10px;
    }

    th:last-child {
        width: 5px;
    }

    td, th {
        border: 1px solid lightgray;
        text-align: left;
    }

    input {
        width: 100%;
        padding: 5px;
        border: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .mat-icon {
        cursor: pointer;
    }
}