<mat-toolbar color="primary">
  <span>rest web cli</span>
</mat-toolbar>
<ngx-spinner [fullScreen]="true"></ngx-spinner>
<div class="container">

  <form (ngSubmit)="sendRequest()">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="10" style="padding-right: 5px;">
        <mat-form-field class="full-width">
          <mat-label>Method</mat-label>
          <mat-select id="inputMethod" name="inputMethod" [(ngModel)]="selectedHttpMethod">
            <mat-option *ngFor="let httpMethod of httpMethods" [value]="httpMethod">{{ httpMethod }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex style="padding-right: 5px;">
        <mat-form-field class="full-width">
          <input matInput type="text" id="inputUrl" name="inputUrl" placeholder="URL" [(ngModel)]="inputUrl">
        </mat-form-field>
        </div>
      <div fxFlex="10">
        <button mat-raised-button color="primary" class="full-width" style="margin-bottom: 10px;" type="submit" [disabled]="loading">Send</button>
      </div>
    </div>
  </form>

  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div class="header">Request</div>
  <div class="section mat-elevation-z4">
    <mat-tab-group>
      <mat-tab label="Query Params">
        <table class="response-header-table">
          <thead>
            <tr><th>KEY</th><th>VALUE</th></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Headers"></mat-tab>
      <mat-tab label="Body">
        <ace-editor [(text)]="requestBody" #requestEditor style="height:300px;"></ace-editor>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="header">Response</div>
  <div class="section mat-elevation-z4">
    <mat-tab-group>
      <mat-tab label="Body">
        <ace-editor [(text)]="responseBody" #responseEditor style="height:300px;"></ace-editor>
      </mat-tab>
      <mat-tab label="Headers">
        <table class="response-header-table">
          <thead>
            <tr><th>KEY</th><th>VALUE</th></tr>
          </thead>
          <tbody>
            <tr *ngFor="let header of response?.headers.keys()">
              <td>{{ header }}</td>
              <td>{{ response.headers.get(header) }}</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
